*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 2rem;
    font-style: italic;
    font-weight: 1000;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5px 5px;
    padding: 15px;
    color: rgb(255, 185, 80);
}
.main{
    padding: 13px;
    font-size: 1.4rem;
    text-shadow: 5px 5px 4px black;
}
body{
    background: url('bg.jpg') no-repeat center center/cover;
    height: 90vh;
    line-height: 1.6;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    margin: 30px;
    color: rgb(255, 193, 107);

}
.container{
    width: 80%;
    margin: auto;
    border: 2px solid gray;
    text-align: center;
}
.btn{
    width: 150px;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 12px;
    background: rgb(255, 185, 80);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    border:none;
    margin: 4px;
}
.btn:hover{
    opacity: 0.8;
}
#player-el{
    font-weight: bolder;
    color: rgb(245, 243, 240);
    font-size: 1.5rem;
}